name: Daily build

on:
  schedule:
    - cron:  '0 */12 * * *'

jobs:
  build:
    if: github.repository_owner == 'ballerina-guides'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test: [adservice, cartservice, checkoutservice, currencyservice, emailservice, frontend, paymentservice, productcatalogservice, recommendationservice, shippingservice]
    env:
      TEST_NAME: "${{ matrix.test }}"
    steps:
    - uses: actions/checkout@v2
    - name: Write Test Name to outputs
      id: testname
      run: |
        echo "::set-output name=test-name::${TEST_NAME}"
    - uses: ballerina-platform/setup-ballerina@v1
      name: Install Ballerina
      with:
        version: 2201.2.3
    - name: Pack gRPC Stub Module
      working-directory: "client_stubs"
      run: bal pack
    - name: Push gRPC Stub Module
      working-directory: "client_stubs"
      run: bal push --repository=local
    - name: Pack Money Utils Module
      working-directory: "money"
      run: bal pack
    - name: Push Money Utils Module
      working-directory: "money"
      run: bal push --repository=local
    - name: Ballerina Build
      working-directory: ${{ steps.testname.outputs.test-name }}
      run: bal build --cloud=k8s

